.register-page *,
.login-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.home-page * {
    box-sizing: border-box;
}

.home-page {
    margin: 0;
    padding: 0;
}

.about-page * {
    box-sizing: border-box;
}

.login-page {
    background: url(assets/ani-background.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
}

.register-page {
    background: url(assets/ani-background.jpeg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 100px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif !important;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.search-btn {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.search-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding-left: 10px;
}

.search-btn input::placeholder {
    color: white;
}

.search-btn button {
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn button i {
    color: white;
    font-size: 22px;
}

.login-btn {
    background: #ffdd95;
    color: #000;
    border: none;
    padding: 12.5px 20px;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
    margin-left: -30px;
}

.login-btn:hover {
    filter: brightness(1.1);
}

.login-btn a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

.login-btn a:hover {
    color: #333;
}

.container.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    min-height: 530px;
    max-height: 920px;
    background: url(assets/ani-background.jpeg) no-repeat;
    background-color: rgba(255, 255, 255, 0.1);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-top: 75px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.container.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    max-width: 1400px;
    height: 80%;
    min-height: 530px;
    max-height: 920px;
    background-color: rgba(255, 255, 255, 0.1);
    background: url(assets/ani-background.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-top: 75px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    z-index: 2;
}

.content.login {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

.content.register {
    position: absolute;
    top: 0;
    left: 0;
    width: 48%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

.logo {
    font-size: 32px;
}

.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.2;
}

.social-icons a i {
    font-size: 22px;
    color: #ddd;
    margin-right: 10px;
    transition: .5s ease;
}

.social-icons a:hover i {
    transform: scale(1.2);
}

.main-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 48%);
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

.form-box.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 520px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #ddd;
}

.form-box.register {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 520px;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: #ddd;
}

.form-box h2 {
    font-size: 28px;
    text-align: center;
}

.form-box p {
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

.input-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-box.login {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ddd;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box.register {
    position: relative;
    width: 48%;
    height: 50px;
    border-bottom: 2px solid #ddd;
    margin: 20px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    height: 100%;
    padding-right: 28px;
    border: none;
    outline: none;
    background: transparent;
    color: #ddd;
    font-size: 16px;
    margin: 0 10px 0 10px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    color: #ddd;
    transition: 0.5s ease;
    margin-left: 5px;
    pointer-events: none;
}

.input-box input:focus~label,
.input-box input:valid~label,
.input-box input:not(:placeholder-shown)~label {
    top: -2px;
    
}

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ddd;
}

.remember-forget {
    font-size: 14.5px;
    font-weight: 500;
    margin: -5px 5px 25px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #ddd;
    margin-right: 3px;
}

.remember-forget a {
    color: #ddd;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.btn {
    width: 95%;
    height: 45px;
    background: #CC0000;
    border: none;
    outline: none;
    margin: 0 10px 0 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: #ddd;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
}

.btn:hover {
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.footer {
    font-style: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.footer p a {
    color: #ddd;
    font-weight: 600;
    text-decoration: none;
}

.footer p a:hover {
    text-decoration: underline;
}


/* Home Page */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
}

.hero-left {
    flex: 1;
    padding-right: 50px;
}

.hero-right {
    flex: 1;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #333;
}

.hero-left p {
    font-size: 18px;
    line-height: 1.5;
    color: #54626F;
}

.hero-left button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-left button:hover {
    background-color: #0056b3;
}

.hero-left button a {
    color: #fff;
    text-decoration: none;
}

.hero-left button a:hover {
    text-decoration: underline;
}

.hero-right img {
    width: 100%;
    border-radius: 10px;
}

.recommendation-container {
    margin-top: 50px;
    text-align: center;
    padding: 0 20px;
}

.recommendation-container h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
}

.recommendations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.recommendation-box {
    position: relative;
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    border: 1px solid #1a1a1a;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    background-color: #1a1a1a;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recommendation-box:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.recommendation-box img {
    width: 100%;
    height: 280px;
    border-radius: 6px;
    transition: filter 0.3s ease;
}

.recommendation-box:hover img {
    filter: blur(5px);
}

.recommendation-box p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    z-index: 2;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.recommendation-box:hover .play-button {
    opacity: 1;
}

.recommendation-container button {
    padding: 12px 25px;
    font-size: 1.2rem;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.recommendation-container button:hover {
    background-color: #e67e22;
    transform: scale(1.1);
}

.quote-container {
    margin-top: 100px;
    padding: 50px 20px;
    text-align: center;
    background-color: #E8E9EB;
    border-radius: 5px;
}

blockquote {
    font-style: italic;
    color: #333;
}

blockquote p {
    font-size: 32px;
    margin-bottom: 20px;
}

.quote-footer {
    font-size: 18px;
    color: #625D5D;
}

blockquote p::before {
    content: '\201C';
}
  
blockquote p::after {
    content: '\201D';
}

.call-to-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #26282A;
    color: #fff;
    border-radius: 10px;
    margin: 40px 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.call-to-action-right {
    flex: 0 0 auto;
}

.call-to-action-left {
    padding-right: 15px;
    flex: 1;
}

.call-to-action-container h1 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
    margin-left: 50px;
}
  
.call-to-action-container p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 15px;
    margin-left: 50px;
}
  
.call-to-action-container button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007791;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 50px;
}
  
.call-to-action-container button:hover {
    background-color: #008E97;
}

.call-to-action-container button a {
    color: #fff;
    text-decoration: none;
}

.call-to-action-container button a:hover {  
    text-decoration: underline;
}

.page-footer {
    background-color: #1F2937;
    padding: 6px;
    text-align: center;
    color: white;
    margin-top: 30px;
}


/* About Page */
.about-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    color: #fff;
}

.about-container {
    text-align: center;
    padding: 50px 20px;
    background-color: #242424;
}

.about-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #f39c12;
}

.about-content h1 span {
    color: #e74c3c;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.about-features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    box-sizing: unset !important;
}

.feature-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
    width: 250px;
    text-align: center;
    box-sizing: unset !important;
}

.feature-box img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 22px;
    color: #e67e22;
    margin-bottom: 10px;
}

.feature-box p {
    font-size: 16px;
}

.feature-box:hover {
    transform: scale(1.1);
}

.community-callout {
    padding: 40px 20px;
    background-color: #1e272e;
    text-align: center;
}

.community-callout h2 {
    font-size: 36px;
    color: #f39c12;
}

.community-callout p {
    font-size: 20px;
    margin-bottom: 30px;
}

.join-btn {
    background-color: #e74c3c;
    color: white;
    padding: 12px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: #c0392b;
}

.about-footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: #bdc3c7;
    font-size: 14px;
}